#Trace files
/test.txt
/trace.txt
/result.txt
/grammar.dot
/grammar.svg
/dirty_parses.dot
/dirty_parses.svg
/inv_parses.dot
/inv_parses.svg
/parses.dot
/parses.svg

#Data folder
/Data/

#Binary folders
build/
classes/
pkg/
rel/

#Eclipse metadata
.classpath
.cproject
.cdtproject
.project
.settings
/.metadata/

#IntelliJ IDEA metadata
*.iml
.idea/

#Default CLion cmake build folders
cmake-build-debug/
cmake-build-release/

